<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>南开区政府</title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="js/layer/layer.js" ></script>
	</head>
	<body>
		<!--top-->
		<div class="top clear">
			<div class="L"><a href="index.html"><img src="img/logo.png" width="250" height="79"></a></div>
			<div class="R"><a href="javascript:;" id="exit" class="Show"><img src="img/topicon_07.png"></a></div>
			<div class="R"><a href="#" class="Show notice_p"><img src="img/topicon_05.png"><i class="notice_d"></i></a></div>
			<div class="R"><a href="index.html" class="Show"><img src="img/topicon_03.png"></a></div>
		</div>
		<!--leftbar-->
		<div class="left_bar">
			<div class="top_time com_div">2017/03/09  08:16:33</div>
			<div class="com_div" style="padding-right: 15px;">
				<div class="clear">
					<div class="L">用户：</div>
					<div class="L" style="width: 150px;">杨国功</div>
				</div>
				<div class="clear">
					<div class="L">部门：</div>
					<div class="L" style="width: 150px;">创文办创文办创文办创文办创文办创文办</div>
				</div>
			</div>
			<div id="menu" class="menu">
				<dl>
					<dt class="com_div on">
						<a href="javascript:;" class="Show">
							<img src="img/i_img_35.png">&nbsp;<span>个人邮箱</span>&nbsp;<img src="img/i_img_38.png">
						</a>
					</dt>
					<dd class="Hide Show">
						<a href="emailwrite.html" class="Show clear">
							写邮件
						</a>
						<a href="emailreceive.html" class="Show on clear">
							收件箱
							<i class="R">10</i>
						</a>
						<a href="emailsend.html" class="Show clear">
							发件箱
						</a>
						
					</dd>
				</dl>
				<dl>
					<dt class="com_div">
						<a href="javascript:;" class="Show">
							<img src="img/i_img_53.png">&nbsp;<span>公文管理</span>&nbsp;<img src="img/i_img_38.png">
						</a>
					</dt>
					<dd class="Hide">
						<a href="#" class="Show clear">
							收文管理
							<i class="R">10</i>
						</a>
						<a href="#" class="Show clear">
							发文管理
						</a>
						<a href="#" class="Show clear">
							崔督办
						</a>
					</dd>
				</dl>
				<dl>
					<dt class="com_div">
						<a href="javascript:;" class="Show">
							<img src="img/i_img_57.png">&nbsp;<span>办公信息</span>
						</a>
					</dt>
					<dd class="Hide">
						<a href="#" class="Show clear">
							工作安排
						</a>
						<a href="#" class="Show clear">
							崔督办
						</a>
					</dd>
				</dl>
				<dl>
					<dt class="com_div">
						<a href="javascript:;" class="Show">
							<img src="img/i_img_59.png">&nbsp;<span>公共信息</span>
						</a>
					</dt>
					<dd class="Hide">
						<a href="#" class="Show clear">
							公告栏
						</a>
						<a href="#" class="Show clear">
							电子期刊
						</a>
					</dd>
				</dl>
				<dl>
					<dt class="com_div">
						<a href="javascript:;" class="Show">
							<img src="img/i_img_61.png">&nbsp;<span>即时通讯</span>
						</a>
					</dt>
				</dl>
			</div>
		</div>
		<!--中间内容-->
		<div class="content i_content" style="margin-bottom: 0px;">
			<div style="padding:30px 30px;">
				<div style="padding: 100px 0px; text-align: center; color: #C6C6C6;">选择好友开始聊天~</div>
				<div class="timely_box Hide">
					<div class="title" style="position: relative;">
						<h2 class="bluecolor" style="font-weight: bold;">范庆华</h2>
						<div class="font12 graycolor">治安管理与交通秩序攻关指挥部</div>
						<!--<div class="now_perzu" style="position: absolute; right: 10px; top: 10px;"><img src="img/i_img_60.png"></div>-->
					</div>
					<div class="timely_content">
						<div class="history font13"><a href="javascript:;" class="check_history">查看历史消息</a></div>
						<ul class="new_message">
							<li class="mar_b">
								<h2 class="liaotian_r ke">范庆华<i>（2017-03-11 18:36:18）:</i></h2>
								<div class="font13 graycolor6">现将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印发给你们，请遵照执行。</div>
							</li>
							<li class="mar_b">
								<h2 class="liaotian_r">我<i>（2017-03-11 18:36:18）:</i></h2>
								<div class="font13 graycolor6">现将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印发给你们，请遵照执行。</div>
							</li>
							<li class="mar_b">
								<h2 class="liaotian_r ke">范庆华<i>（2017-03-11 18:36:18）:</i></h2>
								<div class="font13 graycolor6">现将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印发给你们，请遵照执行。</div>
							</li>
							<li class="mar_b">
								<h2 class="liaotian_r">我<i>（2017-03-11 18:36:18）:</i></h2>
								<div class="font13 graycolor6">现将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印发给你们，请遵照执行。</div>
							</li>
							<li class="mar_b">
								<h2 class="liaotian_r ke">范庆华<i>（2017-03-11 18:36:18）:</i></h2>
								<div class="font13 graycolor6">现将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印发给你们，请遵照执行。</div>
							</li>
							<li class="mar_b">
								<h2 class="liaotian_r">我<i>（2017-03-11 18:36:18）:</i></h2>
								<div class="font13 graycolor6">现将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印将市政府《关于印发天津市政府信息公开工作违法责任追究暂行办法的通知》，印发给你们，请遵照执行。</div>
							</li>
						</ul>
						<div id="bot_k"></div>
					</div>
					<div class="send_w">
						<div>
							<textarea class="huifu_cn" placeholder="请输入聊天内容"></textarea>
						</div>
						<div style="text-align: right;">
							<button id="send_liaotian" type="button" class="send_btn">发送</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--右侧联系人-->
		<div class="right_bar">
			<div class="r_top clear contact_kind">
				<div class="L on"><img src="img/i_img_05.png"> 最近联系人</div>				
				<div class="R"><img src="img/i_img_09.png" title="群组"><i class="new_notice"></i></div>
				<div class="R"><img src="img/i_img_07.png" title="通讯录"></div>
			</div>
			<div class="contact_list">
				<!--常用-->
				<div class="changyong">
					<ul class="usually_list">
						<li class="clear">
							<div class="L online">
								<a href="#" class="Show">
									<h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
									<h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
								</a>
							</div>
							<div class="R">
								<a href="javascript:;" class="delete"><img src="img/i_img_25.png"></a>
							</div>
						</li>
						<li class="clear">
							<div class="L online">
								<a href="#" class="Show">
									<h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
									<h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
								</a>
							</div>
							<div class="R">
								<a href="javascript:;" class="delete"><img src="img/i_img_25.png"></a>
							</div>
						</li>
						<li class="clear">
							<div class="L">
								<a href="#" class="Show">
									<h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
									<h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
								</a>
							</div>
							<div class="R">
								<a href="javascript:;" class="delete"><img src="img/i_img_25.png"></a>
							</div>
						</li>
					</ul>
					<div class="contact_operate">
						<button type="button" class="button1 all_delete">清空所有记录</button>
					</div>
				</div>
				<!--群组-->
				<div class="qunzu Hide">
					<ul class="usually_list">
						<li class="clear">
							<div class="L online">
								<a href="#" class="Show">
									<h2 class="font13 blackcolor txt_oneline">群组1</h2>
									<h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
								</a>
							</div>
							<div class="R Hide">
								<a href="javascript:;" class="delete"><img src="img/i_img_25.png"></a>
							</div>
						</li>
						<li class="clear">
							<div class="L online">
								<a href="#" class="Show">
									<h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
									<h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
								</a>
							</div>
							<div class="R Hide">
								<a href="javascript:;" class="delete"><img src="img/i_img_25.png"></a>
							</div>
						</li>
						<li class="clear">
							<div class="L">
								<a href="#" class="Show">
									<h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
									<h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
								</a>
							</div>
							<div class="R Hide">
								<a href="javascript:;" class="delete"><img src="img/i_img_25.png"></a>
							</div>
						</li>
					</ul>
					<div class="contact_operate">
						<div class="L font12"><button class="qunzu_guanli" type="button" style="padding: 7px 0px; color: #2567d6;">管理</button></div>
						<button type="button" class="buttonc blue add_personzu">新建群组</button>
					</div>
				</div>
				<!--联系人-->
				<div class="lianxiren Hide">
					<div class="cotact_person">
						<dl class="blackcolor">
							<dt class="font13 clear">
								<div class="L one txt_oneline">创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办</div>
								<div class="L">&nbsp;(3)</div>
							</dt>
							<dd class="font13">
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
							</dd>
						</dl>
						<dl class="blackcolor">
							<dt class="font13 clear">
								<div class="L one txt_oneline">创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办</div>
								<div class="L">&nbsp;(3)</div>
							</dt>
							<dd class="font13">
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
							</dd>
						</dl>
						<dl class="blackcolor">
							<dt class="font13 clear">
								<div class="L one txt_oneline">创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办创文办</div>
								<div class="L">&nbsp;(3)</div>
							</dt>
							<dd class="font13">
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
								<div class="clear"><a href="#" class="L blackcolor">穆子明 </a><div class="R cursor delete Hide">x</div></div>
							</dd>
						</dl>
					</div>
					<div class="contact_operate">
						<div class="L font12"><button class="haoyou_guanli" type="button" style="padding: 7px 0px; color: #2567d6;">管理</button></div>
						<button type="button" class="buttonc blue add_person"><img src="img/person.png"> 添加联系人</button>
						<a href="javascript:;" class="notice_p notice_per"><img src="img/liaotianq.png"><i class="notice_d"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!--主动添加好友-->
		<div id="add_person_box" class="Hide">
			<div class="houqi_select clear">
				<div class="L col-12">
					<div class="houqi_search">
						<div class="search_txt clear font13">
							<input class="L" name="search_con" placeholder="输入姓名/手机号查询" type="text">
							<span class="R"></span>
						</div>
					</div>
					<div class="h_one">
						<div class="h_search">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--系统消息-->
		<div id="system_message" class="Hide">
			<div class="day_time">
				<div class="sys_ask_time font13"><span>2017-04-12</span></div>
				<div class="font13 ask_list" data_id="10">
					<div class="clear">
						<div class="L"><em class="graycolor">15:11:58 </em><em class="bluecolor">刘佳明</em> 请求添加您为好友。</div>
						<div class="R font12"><button type="button" class="buttonc blue sys_tongyi_btn">同意</button>&nbsp;&nbsp;<button type="button" class="buttonc gray sys_jujue_btn">拒绝</button></div>
					</div>
					<div>“我是委员单位刘佳明”</div>
				</div>
				<div class="font13 ask_list" data_id="10">
					<div class="clear">
						<div class="L"><em class="graycolor">15:11:58 </em><em class="bluecolor">刘佳明</em> 请求添加您为好友。</div>
						<div class="R font12"><button type="button" class="buttonc blue sys_tongyi_btn">同意</button>&nbsp;&nbsp;<button type="button" class="buttonc gray sys_jujue_btn">拒绝</button></div>
					</div>
					<div>“我是委员单位刘佳明”</div>
				</div>
			</div>
			<div class="day_time">
				<div class="sys_ask_time font13"><span>2017-04-11</span></div>
				<div class="font13 ask_list" data_id="10">
					<div class="clear">
						<div class="L"><em class="graycolor">15:11:58 </em><em class="bluecolor">刘佳明</em> 请求添加您为好友。</div>
						<div class="R font12"><em class="greencolor">已同意</em></div>
					</div>
					<div>“我是委员单位刘佳明”</div>
				</div>
				<div class="font13 ask_list" data_id="10">
					<div class="clear">
						<div class="L"><em class="graycolor">15:11:58 </em><em class="bluecolor">刘佳明</em> 请求添加您为好友。</div>
						<div class="R font12"><em class="redcolor">已拒绝</em></div>
					</div>
					<div>“我是委员单位刘佳明”</div>
				</div>
			</div>
			<div class="day_time">
				<div class="sys_ask_time font13"><span>2017-04-10</span></div>
				<div class="font13 ask_list" data_id="10">
					<em class="graycolor">15:11:58 </em><em class="bluecolor">刘佳明</em> <em class="greencolor">接受了</em> 您的添加请求并添加您为好友。
				</div>
				<div class="font13 ask_list" data_id="10">
					<em class="graycolor">15:11:58 </em><em class="bluecolor">刘佳明</em> <em class="redcolor">拒绝了</em> 您的添加请求。
				</div>
			</div>
		</div>
		<!--当前群聊的信息-->
		<div id="mow_quninfor" class="Hide">
			<div class="houqi_select clear">
				<div class="L col-6">
					<div class="houqi_search">
						<div class="search_txt clear font13">
							<input class="L qunzu" name="search_con" type="text">
							<span class="R"></span>
						</div>
					</div>
					<div class="h_one">
						<div class="h_search">
							<dl>
								<dd>
									<div class="Show txt_oneline" data_id="12">相同内容2</div>
									<div class="Show txt_oneline" data_id="13">搜索内容</div>
								</dd>
							</dl>
						</div>
						<div class="h_content">
							<dl>
								<dt><em class="add_all" title="添加整组"></em><span class="div_inblock one"><b>一级内容</b></span><span>(3)</span></dt>
								<dd class="clear">
									<div class="Show txt_oneline" data_id="1">二级内容1</div>
									<div class="Show txt_oneline" data_id="2">二级内容2</div>
									<div class="Show txt_oneline" data_id="3">二级内容3</div>
									<div class="Show txt_oneline" data_id="4">二级内容4</div>
									<div class="Show txt_oneline" data_id="5">二级内容5</div>
									<div class="Show txt_oneline" data_id="6">二级内容6</div>
								</dd>
							</dl>
							<dl>
								<dt><em class="add_all" title="添加整组"></em><span class="div_inblock one"><b>一级内容</b></span><span>(3)</span></dt>
								<dd class="clear">
									<div class="Show txt_oneline" data_id="7">二级内容7</div>
									<div class="Show txt_oneline" data_id="8">二级内容8</div>
									<div class="Show txt_oneline" data_id="9">二级内容9</div>
									<div class="Show txt_oneline" data_id="10">二级内容10</div>
									<div class="Show txt_oneline" data_id="11">二级内容11</div>
									<div class="Show txt_oneline" data_id="12">相同内容2</div>
								</dd>
							</dl>
						</div>
						
					</div>
				</div>
				<div class="R col-6">
					<div class="font13 clear">
						<div class="L" style="padding: 7px 10px;"><b>群名称:</b></div>
						<div class="R" style="border: 1px solid #DDDDDD; width: 205px; border-radius: 4px; padding: 5px 10px; margin: 0px 10px 5px 0px;">
						<div><input type="text" name="qunzu_name" class="qunzu_name" style="width: 100%;" placeholder="群名称" value="群组1" /></div></div>
					</div>
					
					<div style="padding: 10px; line-height: 10px;"><b>群成员：</b></div>
					<div class="h_one" style="height: 238px;">
						<ul class="houqi_old">
							<li class="clear"><div class="L txt_oneline">二级内容</div><div class="R" data_id="7"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容8</div><div class="R" data_id="8"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容9</div><div class="R" data_id="9"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容</div><div class="R" data_id="7"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容8</div><div class="R" data_id="8"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容9</div><div class="R" data_id="9"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容</div><div class="R" data_id="7"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容8</div><div class="R" data_id="8"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容9</div><div class="R" data_id="9"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容</div><div class="R" data_id="7"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容8</div><div class="R" data_id="8"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容9</div><div class="R" data_id="9"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容</div><div class="R" data_id="7"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容8</div><div class="R" data_id="8"></div></li>
							<li class="clear"><div class="L txt_oneline">二级内容9</div><div class="R" data_id="9"></div></li>
						</ul>
					</div>
				</div>
			</div>
			<input type="hidden" name="yx_chengyuan" />
			<div class="center_btn"><button type="button" class="buttonc red houqi_ok">确定</button></div>
		</div>
		
		<!--脚本-->
		<script>
			
			
			$(function(){
				//初始化
				$(".timely_box").height($(window).height()-150);
				location.href="#bot_k";
				//发送聊天
				$("#send_liaotian").click(function(){
					var str=$(".huifu_cn").val();
					$(".huifu_cn").val("");
					var dq_time="";
					var myDate = new Date();
					var ap_str='<li class="mar_b"><h2 class="liaotian_r">我<i>（'+myDate.toLocaleString()+'）:</i></h2><div class="font13 graycolor6">'+str+'</div></li>';
					//console.log(str);
					$(".new_message").append(ap_str);
					location.href="#bot_k";
				});
				//查看历史记录check_history new_message
				$(".check_history").click(function(){
					
					var str='<li class="mar_b"><h2 class="liaotian_r">我<i>（2016-12-03 06:30:25）:</i></h2><div class="font13 graycolor6">历史记录</div></li>';
					var ap_str="";
					for(var i=0;i<3;i++)
					{
						ap_str+=str;
					}
					ap_str+='<li class="mar_b"><div class="font13 history">以上是历史记录</div></li>'
					$(".new_message").prepend(ap_str);
					$(this).hide();
				})
				//-------------群设置按钮操作-------------------
				var obj;
//				$(".now_perzu").click(function(){
//					obj=$("#mow_quninfor");
//					
//					layer.open({
//					  title:"群成员",
//					  type: 1,
//					  skin: 'layui-box', //加上边框
//					  area: ['620px', '422px'], //宽高
//					  content: '<div class="select_tanchu clear"></div>'
//					});
//					$(".select_tanchu").html(obj.html());
//					//赋值input
//					$(".select_tanchu").find(".qunzu_name").val(obj.find(".qunzu_name").val());
//					$(".select_tanchu").find("input[name='yx_chengyuan']").val(obj.find("input[name='yx_chengyuan']").val());
//				});
				//弹窗二级
				$(document).on("click",".houqi_select dl dt span",function(){
					$(this).parent().siblings("dd").toggle();
				});
				//单个选择添加
				$(document).on("click",".select_tanchu dl dd div",function(){
					var s_id=$(this).attr("data_id");
					var s_name=$(this).html();
					//判断是否有重复
					var old_id=[];
					var panduan=true;
					for(var i=0;i<$(this).parents(".houqi_select").find(".houqi_old .R").length;i++)
					{
						old_id[i]=$(this).parents(".houqi_select").find(".houqi_old .R:eq("+i+")").attr("data_id");
						if(s_id==old_id[i])
						{
							panduan=false;
						}
					}
					if(panduan)
					{
						var add_str='<li class="clear"><div class="L txt_oneline">'+s_name+'</div><div class="R" data_id="'+s_id+'"></div></li>';
						$(this).parents(".houqi_select").find(".houqi_old").append(add_str);
					}
					
				});
				//添加全部
				$(document).on("click",".select_tanchu dl dt .add_all",function(){
					//初始所有选中
					var old_id=[];
					for(var i=0;i<$(this).parents(".houqi_select").find(".houqi_old .R").length;i++)
					{
						old_id[i]=$(this).parents(".houqi_select").find(".houqi_old .R:eq("+i+")").attr("data_id");
					}
					for(var j=0;j<$(this).parents("dt").siblings("dd").find("div").length;j++)
					{
						var s_id=$(this).parents("dt").siblings("dd").find("div:eq("+j+")").attr("data_id");
						var s_name=$(this).parents("dt").siblings("dd").find("div:eq("+j+")").html();
						//判断是否有重复
						var panduan=true;
						for(var k=0;k<old_id.length;k++)
						{
							if(s_id==old_id[k])
							{
								panduan=false;
							}
						}
						if(panduan)
						{
							var add_str='<li class="clear"><div class="L txt_oneline">'+s_name+'</div><div class="R" data_id="'+s_id+'"></div></li>';
							$(this).parents(".houqi_select").find(".houqi_old").append(add_str);
						}
					}
				});
				//选择删除
				$(document).on("click",".select_tanchu .houqi_old li .R",function(){
					$(this).parents("li").remove();
				});
				//群组_修改
				$(document).on("click",".houqi_ok",function(){
					//群组修改
					obj.html($(this).parents(".select_tanchu").html());
					$(".houqi_search .search_txt .delete").click();
					var str_id="",str_name="";
					var qunzu_str="";
					for(var i=0;i<obj.find(".houqi_old .R").length;i++)
					{
						//old_id[i]=$(this).parents(".houqi_select").find(".houqi_old .R:eq("+i+")").attr("data_id");
						str_id+=obj.find(".houqi_old .R:eq("+i+")").attr("data_id");
						str_name+=obj.find(".houqi_old .R:eq("+i+")").siblings(".L").html();
						if(i!=obj.find(".houqi_old .R").length-1)
						{
							str_id+=",";
							str_name+=";";
						}
					}
					obj.find("input[name='yx_chengyuan']").val(str_id);
					//console.log(obj.find("input[name='yx_chengyuan']").val());
					obj.find(".qunzu_name").val($(this).parents(".select_tanchu").find(".qunzu_name").val());
					if(obj.find(".qunzu_name").val()=="")
					{
						qunzu_str="未命名";
					}
					else
					{
						qunzu_str=obj.find(".qunzu_name").val();
					}
					//console.log(qunzu_str);
					$(".layui-layer-close").click();
					
					//新增群组跳转到群组聊天页面
					if($(this).parents(".select_tanchu").hasClass("new_add_tanchu"))
					{
						location.href="#";
					}
				})
				//-----------新建群组----------
				$(".add_personzu").click(function(){
					obj=$("#mow_quninfor");
					
					layer.open({
					  title:"新建群",
					  type: 1,
					  skin: 'layui-box', //加上边框
					  area: ['620px', '422px'], //宽高
					  content: '<div class="select_tanchu new_add_tanchu clear"></div>'
					});
					$(".select_tanchu").html(obj.html());
					//赋值input
					$(".select_tanchu").find(".qunzu_name").val("");
					$(".select_tanchu").find("input[name='yx_chengyuan']").val("");
					$(".select_tanchu .houqi_old").html("");
				});
				
				//----------------公共区--------------
				//左侧二级菜单动画
				$("#menu dt").click(function(){
					if(!$(this).hasClass("on"))
					{
//						console.log($(this).hasClass("on"))
						$(this).addClass("on").parents("dl").siblings().children("dt").removeClass("on");
						$(this).siblings("dd").slideDown(300);
						$(this).parents("dl").siblings().children("dd").slideUp(300);
					}
					
				});
				//退出
				$("#exit").click(function(){
					//confirm;
					layer.confirm('确认退出？', {
					  btn: ['是','否'] //按钮
					}, function(){
						layer.msg('退出成功');
					}, function(){
						layer.close();
					});
				});
				
				//----------右侧联系人面板------------
				
				//常用联系人删除
				$(document).on("click",".changyong .usually_list li .delete",function(){
					$(this).parents("li").remove();
				});
				//清空常用联系人
				$(".contact_operate .all_delete").click(function(){
					$(".changyong .usually_list").html("");
				})
				//选项卡
				$(".contact_kind > div").click(function(){
					var index=$(this).index();
					$(this).addClass("on").siblings().removeClass("on");
					$(".contact_list > div:nth-child("+(index+1)+")").show().siblings().hide();
				})
				//联系人分组
				$(".lianxiren dl dt").click(function(){
					$(this).siblings("dd").toggle();
					$(this).parent("dl").toggleClass("on");
				});
				
				//--------添加新的联系人-------------
				
				//添加;联系人
				$(".contact_operate .add_person").click(function(){
					layer.open({
					  title:"添加联系人",
					  type: 1,
					  skin: 'layui-box', //加上边框
					  area: ['320px', '380px'], //宽高
					  content: '<div id="addper_list"></div>'
					});
					
					$("#addper_list").html($("#add_person_box").html());
					
				});
				//添加联系人搜索
				$(document).on("input propertychange",".houqi_search .search_txt input",function(){
					if($(this).val()!=""){
						$(this).siblings(".R").addClass("delete");
						$(this).parents(".houqi_search").siblings(".h_one").children(".h_search").show();
						$(this).parents(".houqi_search").siblings(".h_one").children(".h_content").hide();
					}
					else
					{
						$(this).siblings(".R").removeClass("delete");
						$(this).parents(".houqi_search").siblings(".h_one").children(".h_search").hide();
						$(this).parents(".houqi_search").siblings(".h_one").children(".h_content").show();
					}
					
					if(!$(this).hasClass("qunzu"))
					{
						//搜索添加联系人
						var str='<div class="find_per clear cursor" data_id="12"><div class="L widtha">测试人才</div><div class="R"></div></div>';
						$(this).parents(".houqi_search").siblings(".h_one").children(".h_search").html(str);
					}
					else
					{
						//搜索群组人
						var str='<div class="Show txt_oneline" data_id="12">搜索内容</div><div class="Show txt_oneline" data_id="13">相同内容2</div>';
						$(this).parents(".houqi_search").siblings(".h_one").children(".h_search dl dd").html(str);
					}
				});
				//置为空
				$(document).on("click",".houqi_search .search_txt .delete",function(){
					$(this).siblings("input").val("");
					$(this).parents(".houqi_search").siblings(".h_one").children(".h_search").hide();
					$(this).parents(".houqi_search").siblings(".h_one").children(".h_content").show();
					$(this).removeClass("delete");
				});
				//请求添加联系人
				$(document).on("click",".find_per",function(){
					var name=$(this).find(".L").html();
					var id=$(this).attr("data_id");
					$(".layui-layer-close").click();
					layer.open({
					  title:"输入验证信息",
					  type: 1,
					  skin: 'layui-box', //加上边框
					  area: ['320px', '348px'], //宽高
					  content: '<div id="addper_addyanzheng"></div>'
					});
					var str='<div class="font13">请求添加   <em class="bluecolor">'+name+'</em> 为好友：</div>';
					str+='<div class="add_ask"><textarea placeholder="你好!" class="textarea"></textarea></div>'
					str+='<div class="center_btn" style="margin-top:20px"><button type="button" class="buttonc gray add_peryz_qx">返回</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" data_id="'+id+'" class="buttonc blue add_peryz_btn">确定</button></div>';
					$("#addper_addyanzheng").html(str);
				});
				//取消添加
				$(document).on("click",".add_peryz_qx",function(){
					$(".layui-layer-close").click();
				});
				//确认请求添加好友
				$(document).on("click",".add_peryz_btn",function(){
					var id=$(this).attr("data_id");
					var ask_c=$("#addper_addyanzheng textarea").val();
					console.log(id,ask_c);
					$(".layui-layer-close").click();
				});
				
				//--------系统消息-------------
				$(".notice_per").click(function(){
					layer.open({
					  title:"验证消息",
					  type: 1,
					  skin: 'layui-box', //加上边框
					  area: ['520px', '348px'], //宽高
					  content: '<div id="sys_ask"></div>'
					});
					$("#sys_ask").html($("#system_message").html());
				});
				//同意好友请求
				//sys_tongyi_btn sys_jujue_btn ask_list  
				$(document).on("click",".sys_tongyi_btn",function(){
					var id=$(this).parents(".ask_list").attr("data_id");
					var str='<em class="greencolor">已同意</em>';
					$(this).parent().html(str);
					
					$("#system_message").html($("#sys_ask").html());
					
				});
				//拒绝好友请求
				$(document).on("click",".sys_jujue_btn",function(){
					var id=$(this).parents(".ask_list").attr("data_id");
					var str='<em class="redcolor">已拒绝</em>';
					$(this).parent().html(str);
					$("#system_message").html($("#sys_ask").html());
				});
				
				
				//------------联系人管理---------
				
				//好友管理
				$(".haoyou_guanli").click(function(){
					if($(this).html()=="管理")
					{
						$(this).html("完成");
					}
					else
					{
						$(this).html("管理");
					}
					$(".lianxiren .cotact_person dl dd .R").toggleClass("Hide");
				});
				$(".lianxiren .cotact_person dl dd .R").click(function(){
					var del_obj=$(this).parents(".clear");
					layer.confirm('确定删除此好友？', {
					  btn: ['确定','取消'] //按钮
					}, function(){
					  //删除好友
					  del_obj.remove();
					  layer.msg('已删除该好友');
					}, function(){
					});
				});
				//群组管理
				$(".qunzu_guanli").click(function(){
					if($(this).html()=="管理")
					{
						$(this).html("完成");
					}
					else
					{
						$(this).html("管理");
					}
					
					$(".qunzu .usually_list li .R").toggleClass("Hide");
				});
				//群组删除
				$(document).on("click",".qunzu .usually_list li .delete",function(){
					var del_obj=$(this).parents("li");
					layer.confirm('确定解散此群组？', {
					  btn: ['确定','取消'] //按钮
					}, function(){
					  //删除群
					  del_obj.remove();
					  layer.msg('已解散该群');
					}, function(){
					});
				});
			})
		</script>
	</body>
</html>
