<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>南开创文</title>
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/laydate/laydate.js"></script>
	</head>
	<body>
	<include file="_layouts/left_bar" />
		<!--中间内容-->
		<div class="content">
			<div>
				<div class="emai_rectitle font16 clear">
					<img src="__PUBLIC__/img/news_03.png">&nbsp;<b>{$category_name['category_name']}</b>
				</div>
				<div class="news">
					<ul class="news_jianbao">
						<foreach name="activity" item="item">
							<li class="clear">
								<div class="img_div L">
									<a href="__ROOT__/home/news/detail/id/{$item.id}/type/3"><img src="__ROOT__{$item.pic_url}"></a>
								</div>
								<div class="font_div L">
									<h2 class="txt_oneline"><a href="__ROOT__/home/news/detail/id/{$item['id']}/type/2" class="blackcolor Show txt_oneline"><i class="bluecolor"></i>{$item.title}</a></h2>
									<div class="font_d txt_twoline font13 graycolor">
										{$item.desc}
									</div>
								</div>
								<div class="time_div R">{$item.create_time|date='Y-m-d H:i:s',###}</div>
							</li>
						</foreach>
					</ul>
				</div>
				<div class="email_com nobor pagemore font13">
					{$page}
				</div>
			</div>
		</div>
		<!--脚本-->
		<script>
			$(function(){

			})
		</script>
	</body>
</html>
<script>
    $('#news').parents("#menu").find("dl,dd").removeClass("on");
    $('#news').parents("#menu").find("dd").removeClass("Show");
    $('#news').addClass("on");
    $('#nzhuti').addClass("on");
    $('#nzhuti').parents("dd").addClass("Show");
</script>
