<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>南开创文</title>
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js" ></script>
		<style>
			.selection{
				height:24px;
				display: inline-block;
                border:solid 1px #cccccc;
				padding-left:10px;
				padding-right: 10px;
				border-radius: 6px;
			}
			.input-keyword{
				border:solid 1px #ccc;
				border-radius: 5px;
				padding-left: 8px;
			}
		</style>
		<script>
			$(function () {
                $("#lv1").change(function () {
                    var id =  $(this).val();
                    // alert(id);
					var keyword = $(".input-keyword").val()?$(".input-keyword").val():'';
					window.location.href = "{:U('Home/User/department')}?pid="+id+"&keyword="+keyword;
                })
            })

			// $(function () {
   //              $("#lv2").change(function () {
   //                  var id =  $(this).val();
   //                  var url = "{:U('Home/User/department')}?pid={$_GET['pid']}&sid="+id;
   //                  window.location.href=url;
   //              })
   //          })

		</script>
	</head>
	<body>
	<include file="_layouts/left_bar" />
		<!--中间内容-->
		<div class="content">
			<div>
				<div class="emai_rectitle font12">
					<label><input type="checkbox" id="check_all" name="check_all" class="checkbox" />&nbsp;全选</label>&nbsp;
					<button type="button" class="buttonc red delete_yh"><img src="__PUBLIC__/img/an_06.png"> 删除</button>&nbsp;
					<a href="__ROOT__/home/user/getAddDepartment"><button type="button" class="buttonc blue"><img src="__PUBLIC__/img/an_09.png"> 添加</button>&nbsp;</a>
					<span style="margin-left: 12px;">关键词:</span>
					<input type="text" placeholder="请输入部门名称" class="input-keyword" name="keyword" value="{$_GET['keyword']}">
					<button type="button" class="buttonc green refresh_yh"><img src="__PUBLIC__/img/an_08.png"> 刷新</button>&nbsp;
					<label for="selection" style="margin-left: 5%;margin-right: 0.5%">筛选</label>
					<select name="selection" id="lv1" class="selection">
						<option value="">请选择分类</option>
						<option value="-1" <if condition="$_GET['pid'] eq -1">selected='selected'</if>>创文办</option>
						<option value="5" <if condition="$_GET['pid'] eq 5">selected='selected'</if>>区领导</option>
					    <foreach name="department_lv1" key="k" item = 'v'>
							<option value="{$v['id']}" <if condition="$_GET['pid'] eq $v['id']">selected='selected'</if> >{$v.category_name}</option>
						</foreach>
					</select>
				</div>
				<div class="email_reul">
					<table class="gongwen_table" width="100%" cellspacing="0">
						<tr class="font13 tr1">
							<td width="30">&nbsp;</td>
							<td width="400">部门名称</td>
							<td>上级部门</td>
							<td>员工人数</td>
							<td>排序</td>
							<td width="160" align="center">操作</td>
						</tr>
					<foreach name="department" key="k" item="v">
						<tr>
						<if condition="$v['id'] neq 1">
							<td><label><input name="email_num" type="checkbox" class="checkbox" value="{$v.id}" /></label></td>
						<else />
						    <td></td>
						</if>
							<td class="font13">{$v.d_name}</td>
						<if condition="$v['p_name'] eq null">
							<td class="font13">无</td>
						<else />
							<td class="font13">{$v.p_name}</td>
						</if>
						    <td class="font13" style="display:none">{$v.parent_id}</td>
							<td class="font13">{$v.count_person}</td>
							<td>{$v.sort}</td>
						<td class="font12" align="center">
							<if condition="$v['id'] eq 1">
							    不能操作
							<else/>
								<a href="__ROOT__/home/user/getEditDepartment/id/{$v.id}"><button type="button" class="buttonc blue">编辑</button>&nbsp;</a>
								<button type="button" class="buttonc red deleteone_yh" data-id="{$v.id}">删除</button>
							</if>
						</td>
						</tr>
					</foreach>
					</table>
				</div>
				<div class="email_com nobor pagemore font13">
					{$page}
				</div>
			</div>
		</div>
	<!--脚本-->
		<script>
			$(function(){
				//刷新
				$(".refresh_yh").click(function(){
					// alert(1);
					var keyword = $(".input-keyword").val()?$(".input-keyword").val():'';
					window.location.href = "{:U('Home/User/department')}?pid={$_GET['pid']}&keyword="+keyword;

                     
				});
				//删除
				$(".delete_yh").click(function(){
					//if()
			        var chk_value =[];
			        $('input[name="email_num"]:checked').each(function(){
			            chk_value.push($(this).val());
			        });
			        if (chk_value.length==0)
					{
					    alert('你还没有选择任何内容！');
					    return;
					}
					layer.confirm('确认删除？', {
					  btn: ['是','否'] //按钮
					}, function(){
						$.ajax({
				            type:'get',
				            url:'{:U("Home/User/delete_department_list")}',
				            data:{id:chk_value},
				            success:function(res) {
								location=location;
				            },
				            error: function(){
				                layer.msg('网络失败，请刷新页面后重试');
							    return false;
				            }
				        });
						layer.msg('删除成功');
					}, function(){
						layer.close();
					});
				});
				$(".deleteone_yh").click(function(){
				   var id = $(this).attr('data-id');
					layer.confirm('确认删除？', {
					  btn: ['是','否'] //按钮
					}, function(){
						$.ajax({
			              type : 'post',
			              url : '{:U("Home/User/delete_department")}',
			              data : {id:id},
			              dataType : 'json',
			              success : function(res){
			                if(res.status == 1){
						          location=location;
			                }else{
			                      layer.msg(res.msg);
						          return false;
			                }
			              },
			              error : function(XMLHttpRequest, textStatus, errorThrown) {
			                layer.msg('网络失败，请刷新页面后重试');
						    return false;
			              }
			            })
						layer.msg('删除成功');
					}, function(){
						layer.close();
					});
				});
				//新增-xiugai
				var edit_zt=0;
				$(".add_yh").click(function(){
					layer.open({
					  title:"添加部门",
					  type: 1,
					  skin: 'layui-box', //加上边框
					  area: ['520px', '322px'], //宽高
					  content: '<div class="add_form"><table width="100%"><tr><td width="70">部门名称：</td><td><div class="div1"><input type="text" name="name" placeholder="输入部门名称" /></div></td></tr><tr><td>上级部门：</td><td><div class="xlk div1"><input name="ssdw" type="text" placeholder="选择上级部门" /></div></td></tr><tr><td>选择分类：</td><td><div class="xlk div1 xxfl_s"><input name="ssfl" type="text" placeholder="选择分类" /></div></td></tr></table></div><div class="center_btn"><button  class="buttonc red user_add" data-id="" >确定</button></div>'
					});
					var str='<div class="select_box Hide"><input type="hidden" name="d_id" id="d_id" value=""><div class="ulcontent"><ul><foreach name="department_list" item="v" key="k"><li class="txt_oneline" data-id="{$v.id}">{$v.d_name}</li></foreach></ul></div></div>';
					//console.log($(".xlk").length);
					var stra='<div class="select_box Hide"><input type="hidden" name="b_id" id="b_id" value=""><div class="ulcontent"><ul><foreach name="department_list" item="v" key="k"><li class="txt_oneline" data-id="{$v.id}">{$v.d_name}</li></foreach></ul></div></div>';
					$(".add_form .xlk:eq(0)").append(str);
					$(".add_form .xlk:eq(1)").append(stra);
					$(".xlk").hover(function(){},function(){
						$(this).children(".select_box").hide();
					});
					
					if($(this).hasClass("bianji_yh"))
					{
						$(".layui-layer-title").html("编辑部门");

						var namestr=$(this).parents("tr").children("td:nth-child(2)").html();
						// var nametel=$(this).parents("tr").children("td:nth-child(3)").html();
						var namedw=$(this).parents("tr").children("td:nth-child(3)").html();

                        var nameid=$(this).parents("tr").children("td:nth-child(4)").html();

						// $(".select_box .ulcontent li").parents(".select_box").siblings("input").val($(this).html());
						// $(".select_box .ulcontent li").parents(".select_box").hide();
						var id = $(".select_box .ulcontent li").attr('data-id');
                        $(".select_box .ulcontent li").parents(".ulcontent").siblings("input").val(id);

						var user_id = $(this).attr('data-id');
                        $(".user_add").attr('data-id',user_id);

						$("input[name='name']").val(namestr);
						// $("input[name='tel']").val(nametel);
						$("input[name='ssdw']").val(namedw);


						$('#d_id').val(nameid);
						edit_zt=1;
					}
					else
					{
						edit_zt=0;
					}
					
					
				});

				//失去焦点时
				$(document).on("focusout",".xlk input",function(){
					//if(!$(this).siblings(".select_box").hasClass("leixing"))
					//{
						var str=$(this).val();
						var stra=str.split(";");
						str="";
						for(var i=0;i<stra.length;i++)
						{
							if(stra[i]!="")
							{
								str+=stra[i]+";";
							}
						}
						$(this).val(str);
						console.log($(this).val())
					//}
					
				});

				$(document).on("click",".select_box .ulcontent li",function(){
						$(this).parents(".select_box").siblings("input").focusout();
						//var str=$(this).parents(".select_box").siblings("input").val();
						//
						if($(this).parents(".xlk").hasClass("xxfl_s"))
						{
							$(this).parents(".select_box").siblings("input").val($(this).html());
						}
						else
						{
							var str=$(this).parents(".select_box").siblings("input").val();
							console.log(str);
							var xstr="";
							xstr=$(this).html()+";";

							var add_jude=true;//添加时判断

							var cf_name=str.split(";");
							for(var i=0;i<cf_name.length;i++)
							{
								if(cf_name[i]==$(this).html())
								{
									add_jude=false;
								}
							}
							if(add_jude)
							{
								$(this).parents(".select_box").siblings("input").val(str+xstr);
							}

							//类型选择
							//$(this).parents(".select_box").siblings("input").val($(this).html());
							$(this).parents(".select_box").hide();
	                        
							var id = $(this).attr('data-id');
							if(id!=''){
								if($("#d_id").val()==0){
	                                $("#d_id").val('');
								}
								// $("input[name=fbfw]:eq(1)").attr("checked",'checked');
							}
							var qs = $("#d_id").val();
							var ss = qs.split(",");
							if(ss.indexOf(id)<0){
								var str = qs+','+id;
							    $('#d_id').val(str);	
							}
						}
					}
				);
				//添加完成
				$(document).on("click",".user_add",function(){
					
					var name=$("input[name='name']").val();
					var ssdw=$("input[name='d_id']").val();

					alert(ssdw);

					return false;
					var user_id = $(this).attr('data-id');
					if(name=="")
					{
						layer.msg('部门名称不能为空');
						return false;
					}
					if(ssdw=="")
					{
						layer.msg('上级单位不能为空');
						return false
					}
					if(edit_zt==0)
					{
						//新增
						$.ajax({
			              type : 'post',
			              url : '{:U("Home/User/add_department")}',
			              data : {name:name,ssdw:ssdw},
			              dataType : 'json',
			              success : function(res){
			                if(res.status == 1){
                              	  layer.msg(res.msg);
						          location=location;
			                }else{
			                      layer.msg(res.msg);
						          return false;
			                }
			              },
			              error : function(XMLHttpRequest, textStatus, errorThrown) {
			                layer.msg('网络失败，请刷新页面后重试');
						    return false;
			              }
			            })
						console.log("新增");
					}
					else
					{
					    // var user_id = $(this).attr('data-id');
					    // alert(ssdw);
						//修改
						$.ajax({
			              type : 'post',
			              url : '{:U("Home/User/edit_department")}',
			              data : {id:user_id,name:name,ssdw:ssdw},
			              dataType : 'json',
			              success : function(res){
			                if(res.status == 1){
                              	  layer.msg(res.msg);
						          location=location;
			                }else{
			                      layer.msg(res.msg);
						          return false;
			                }
			              },
			              error : function(XMLHttpRequest, textStatus, errorThrown) {
			                layer.msg('网络失败，请刷新页面后重试');
						    return false;
			              }
			            })
						//修改
						console.log("修改");
						
					}
					//console.log(html);
					$(".layui-layer-close").click();
				});
				//获取焦点时显示或隐藏
				$(document).on("focusin",".xlk input",function(){
					$(this).siblings(".select_box").show();
				});
				$(document).on("click",".xlk input",function(){
					$(this).siblings(".select_box").show();
				});
				$(document).on("input propertychange",".xlk input",function(){
					$(this).siblings(".select_box").show();
				});
				// $(document).on("click",".select_box .ulcontent li",function(){
				// 	$(this).parents(".select_box").siblings("input").val($(this).html());
				// 	$(this).parents(".select_box").hide();
				// })
			})

		</script>
		<!--全选的js-->
		<script type="text/javascript" src="__PUBLIC__/js/quanxuan.js" ></script>
	</body>
</html>
<script>
    $('#config').parents("#menu").find("dl,dd").removeClass("on");
    $('#config').parents("#menu").find("dd").removeClass("Show");
    $('#config').addClass("on");
    $('#cdep').addClass("on");
    $('#cdep').parents("dd").addClass("Show");
</script>
