&lt;!&ndash;右侧联系人&ndash;&gt;
<div class="right_bar">
    <div class="r_top clear contact_kind">
        <div class="L on"><img src="__PUBLIC__/img/i_img_05.png"> 最近联系人</div>
        <div class="R"><img src="__PUBLIC__/img/i_img_09.png" title="群组"><i class="new_notice"></i></div>
        <div class="R"><img src="__PUBLIC__/img/i_img_07.png" title="通讯录"></div>
    </div>
    <div class="contact_list">
        <!-- &lt;!&ndash;常用&ndash;&gt; -->
        <div class="changyong">
            <ul class="usually_list">
                <li class="clear">
                    <div class="L online">
                        <a href="#" class="Show">
                            <h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
                            <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                        </a>
                    </div>
                    <div class="R">
                        <a href="javascript:;" class="delete"><img src="__PUBLIC__/img/i_img_25.png"></a>
                    </div>
                </li>
                <li class="clear">
                    <div class="L online">
                        <a href="#" class="Show">
                            <h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
                            <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                        </a>
                    </div>
                    <div class="R">
                        <a href="javascript:;" class="delete"><img src="__PUBLIC__/img/i_img_25.png"></a>
                    </div>
                </li>
                <li class="clear">
                    <div class="L">
                        <a href="#" class="Show">
                            <h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
                            <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                        </a>
                    </div>
                    <div class="R">
                        <a href="javascript:;" class="delete"><img src="__PUBLIC__/img/i_img_25.png"></a>
                    </div>
                </li>
            </ul>
            <div class="contact_operate">
                <button type="button" class="button1 all_delete">清空所有记录</button>
            </div>
        </div>
        <!-- &lt;!&ndash;群组&ndash;&gt; -->
        <div class="qunzu Hide">
            <ul class="usually_list">
                <li class="clear">
                    <div class="L online">
                        <a href="#" class="Show">
                            <h2 class="font13 blackcolor txt_oneline">群组1</h2>
                            <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                        </a>
                    </div>
                </li>
                <li class="clear">
                    <div class="L online">
                        <a href="#" class="Show">
                            <h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
                            <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                        </a>
                    </div>
                </li>
                <li class="clear">
                    <div class="L">
                        <a href="#" class="Show">
                            <h2 class="font13 blackcolor txt_oneline">刘梦辰</h2>
                            <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- &lt;!&ndash;联系人&ndash;&gt; -->
        <div class="lianxiren Hide">
            <div class="cotact_person" id="lastFriend">

                <dl>
                    <dt class="font14 blackcolor">创文办（3）</dt>
                    <dd>
                        <ul class="usually_list">
                            <li class="clear">
                                <div class="L online">
                                    <a href="#" class="Show">
                                        <h2 class="font13 blackcolor txt_oneline">穆子明</h2>
                                        <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                                    </a>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="L online">
                                    <a href="#" class="Show">
                                        <h2 class="font13 blackcolor txt_oneline">穆子明</h2>
                                        <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                                    </a>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="L">
                                    <a href="#" class="Show">
                                        <h2 class="font13 blackcolor txt_oneline">穆子明</h2>
                                        <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <!-- &lt;!&ndash;<a href="#" class="graycolor">穆子明</a>&ndash;&gt; -->
                    </dd>
                </dl>
                <dl>
                    <dt class="font14 blackcolor">创文办（3）</dt>
                    <dd>
                        <ul class="usually_list">
                            <li class="clear">
                                <div class="L online">
                                    <a href="#" class="Show">
                                        <h2 class="font13 blackcolor txt_oneline">穆子明</h2>
                                        <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                                    </a>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="L online">
                                    <a href="#" class="Show">
                                        <h2 class="font13 blackcolor txt_oneline">穆子明</h2>
                                        <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                                    </a>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="L">
                                    <a href="#" class="Show">
                                        <h2 class="font13 blackcolor txt_oneline">穆子明</h2>
                                        <h3 class="font12 graycolor txt_oneline">诚信体系建设攻关指挥部诚信体系建设攻关指挥部</h3>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        &lt;!&ndash;<a href="#" class="graycolor">穆子明</a>&ndash;&gt;
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</div>