<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>南开创文</title>
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="js/layer/layer.js" ></script>
	</head>
	<body style="background: #f7f7f7;">
		<div class="content" style=" margin-left: 0px;">
			<!--menu-->
			<div style="padding: 120px 0px; overflow: hidden;">
				<div class="L" style="width: 46%; text-align: right;">
					<img src="img/dbqicon1.png">
				</div>
				<div class="L" style="max-width: 49%; padding-left: 30px; line-height: 30px;">
					<p style="font-size: 24px; color: #333333; margin-bottom: 30px;">抱歉，您还没有选择结算的商品...</p>
					<p>
						您可以：<br>
						1)前去<a href="#">购物车</a>结算<br>
						2)去<a href="#">优钢网首页</a>逛逛
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
